Badge Title,Code,Points,Form Pre-Filled Link,Notes,Link
Attended *any* TLUH,TLUH-0001,5,http://example.com/level-up-point-form?usp=pp_url&entry.1554031695=TLUH-0001,,
Submitted an issue on github repo,TLUH-0002,20,http://example.com/level-up-point-form?usp=pp_url&entry.1554031695=TLUH-0002,,
Attended 5 TLUH,TLUH-0003,35,http://example.com/level-up-point-form?usp=pp_url&entry.1554031695=TLUH-0003,,
Submitted a PR on any sub project of TLUH,TLUH-0004,50,http://example.com/level-up-point-form?usp=pp_url&entry.1554031695=TLUH-0004,,
PR accepted on any sub project of TLUH,TLUH-0005,65,http://example.com/level-up-point-form?usp=pp_url&entry.1554031695=TLUH-0005,,
Episode S1E1,TLUH-0006,80,http://example.com/level-up-point-form?usp=pp_url&entry.1554031695=TLUH-0006,,
Episode S1E2,TLUH-0007,95,http://example.com/level-up-point-form?usp=pp_url&entry.1554031695=TLUH-0007,,
Episode S1E3,TLUH-0008,110,http://example.com/level-up-point-form?usp=pp_url&entry.1554031695=TLUH-0008,,
Episode S1E4,TLUH-0009,125,http://example.com/level-up-point-form?usp=pp_url&entry.1554031695=TLUH-0009,,
Episode S1E5,TLUH-0010,140,http://example.com/level-up-point-form?usp=pp_url&entry.1554031695=TLUH-0010,,
Episode S1E6,TLUH-0011,155,http://example.com/level-up-point-form?usp=pp_url&entry.1554031695=TLUH-0011,,
Episode S1E7,TLUH-0012,170,http://example.com/level-up-point-form?usp=pp_url&entry.1554031695=TLUH-0012,,
Episode S1E8,TLUH-0013,185,http://example.com/level-up-point-form?usp=pp_url&entry.1554031695=TLUH-0013,,
Episode S1E9,TLUH-0014,200,http://example.com/level-up-point-form?usp=pp_url&entry.1554031695=TLUH-0014,,
Episode S1E10,TLUH-0015,215,http://example.com/level-up-point-form?usp=pp_url&entry.1554031695=TLUH-0015,,
